.card {
  text-align: center;
  padding: 1.125em 1em;
  background: $secondaryColor;
  cursor: pointer;

  &__date {
    display: block;
    margin-bottom: 1em;
  }

  &__img {
    width: 70%;
    margin-bottom: 1.5em;
    user-select: none;
  }

  &__temp {
    @include flexCenter(row);
    justify-content: space-between;
    width: 100%;

    &-min {
      color: $textColorDark;
    }
  }
}
