@import "./styles/resets";
@import "./styles/variables";

@import "./components/CurrentLocation/currentLocation";
@import "./components/WeatherCard/weatherCard";
@import "./components/Forecast/forecast";
@import "./components/HumidityBar/humidityBar";

body {
  font-family: $primaryFont;
  font-weight: weight(regular);
  background: $primaryColor;
  color: $textColorLight;
}

// main {
//   display: grid;
//   grid-template-columns: 1fr;

//   @include tablet {
//     grid-template-columns: 1fr 2fr;
//   }
// }

main {
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
  }
}
