@import "./styles/resets";
@import "./styles/variables";

@import "./components/CurrentLocation/currentLocation";
@import "./components/WeatherCard/weatherCard";
@import "./components/Forecast/forecast";

body {
  font-family: $primaryFont;
  font-weight: weight(regular);
  background: $primaryColor;
  color: $textColorLight;
}
